
<!-- <ng-content select="header"></ng-content> -->

<h1>{{ user.firstName }} {{ user.lastName }}</h1>

<!-- <p [ngClass]="['my-border', 'feature']">
      Date of Birth : <span [innerText]="user.dob"></span></p> -->
<!-- <p [ngClass]="messages">
      Date of Birth : <span [innerText]="user.dob"></span></p> -->

<p [ngStyle]="myStyles">
  Date of Birth : <span [innerText]="user.dob"></span></p>

<button (click)="onToggleStyle()">Toggle Style</button>


<p *ngIf="user.isWorking; else ElseTemplate">Income : {{ user.income }}</p>

<!-- <ng-content select=".my-content"></ng-content> -->

<!-- <ng-content></ng-content> -->

<p>
  Total Vote : {{ user.votes }}
  <input
    type="number"
    [value]="user.votes"
    (change)="user.votes = $event.target.value"
  />
  <input type="number" [(ngModel)]="user.votes" />
</p>

<!-- <ng-content select="footer"></ng-content> -->

<ng-template #ElseTemplate>
  <p>Mr. {{user.lastName}} is not working now!</p>
</ng-template>


<!-- <div [ngSwitch] = "value">
  <div *ngSwitchCase="1">OUtput 1</div>
  <div *ngSwitchCase="2">OUtput 2</div>
  <div *ngSwitchCase="3">OUtput 3</div>
  <div *ngSwitchCase="4">OUtput 4</div>
</div> -->
