<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <p class="display-4 text-center">Register Form</p>

          <form [formGroup] = "registerForm">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <label for="email">Email : </label>
                </div>
                <div class="col-sm-6 col-md-6">
                  <input type="text"
                    class="form-control"
                    name="email"
                    [formControl] = "email">
                </div>
              </div>
              <div [hidden] = "email.untouched || email.valid">
                <div class="alert alert-danger">
                  Some Problem with Email :
                  <div [hidden]="!email.hasError('required')">
                    - Email is mandatory field.
                  </div>
                  <div [hidden] = "!email.hasError('email')">
                    - Email should be in proper format.
                  </div>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <label for="password">Password : </label>
                </div>
                <div class="col-sm-6 col-md-6">
                  <input type="password"
                    class="form-control"
                    name="password"
                    [formControl] = "password">
                </div>
              </div>

              <div [hidden]="password.valid || password.untouched">
                <div class="alert alert-danger">
                  Password is having some problem :
                  <div [hidden]="!password.hasError('required')">
                    - Password is mandatory field.
                  </div>
                  <div [hidden]="!password.hasError('minlength')">
                    - Password should have 6 characters.
                  </div>
                  <div [hidden]="!password.hasError('needExclamation')">
                    - Password should contain exclamation mark.
                  </div>
                </div>
              </div>

            </div>
            <!-- button -->
            <button class="btn btn-block btn-outline-primary"
              (click)="onRegister()" [disabled] = "!registerForm.valid">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
