<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-3">
      <div class="card">
        <div class="text-center">
          <p class="display-4">Login Form</p>

          <form (ngSubmit)="onLogin(f)" #f = "ngForm">
            <!-- Email -->
            <div class="form-group">
              <div class="row">
                <div class="col-sm-5 col-md-5">
                  <label for="email">Email : </label>
                </div>
                <div class="col-sm-6 col-md-6">
                  <input type="email"
                    email
                    required
                    name="email"
                    class="form-control"
                    ngModel>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group">
              <div class="row">
                <div class="col-sm-5 col-md-5">
                  <label for="password">Password : </label>
                </div>
                <div class="col-sm-6 col-md-6">
                  <input type="password"
                    required
                    minlength="6"
                    name="password"
                    class="form-control"
                    ngModel>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
                  <input type="submit"
                    value="Login" class="btn btn-block btn-outline-success"
                    [disabled] = "f.invalid">
                </div>
              </div>
            </div>
              <!-- Form State : {{ f.invalid }} -->
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
