<div class="row">
  <div class="col-sm-10 col-md-10">
    <app-header></app-header>
  </div>
  <div class="col-sm-2 col-md-2">
    <button
      class="btn btn-outline-danger btn-block"
      *ngIf="authService.isAuthenticated()"
      (click)="onLogout()">
      Logout
    </button>
  </div>
</div>

<br /><br />

<app-new-employee></app-new-employee>

<hr />

<div class="container">
  <router-outlet></router-outlet>

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-register></app-register> -->

  <!-- <app-login></app-login> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <hr /> -->

  <!-- <button (click) = "onToggleUser()">Toggle User</button> -->

  <!-- <app-user *ngIf="authService.isAuthenticated()" [title] = "title"></app-user> -->
</div>
