<p class="display-4 text-center">The Users App</p>

<div class="container">
  <ul class="list-unstyled">
    <li>
      <div class="card">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="text-center container">
           <app-user-image (childEvent) = "onMoreInfo($event)"
            [user] = "user"></app-user-image>
          </div>
          </div>
          <div class="col-sm-8 col-md-8">
            <app-user-detail [user]="user">
              <!-- <header><em>Header Info</em></header>
              <div class="my-content">My Contents</div>
              <div class="my-content">My Contents</div>
              <div class="my-content">My Contents</div>
              <div class="my-content">My Contents</div>
              <footer>Footer Info</footer> -->
            </app-user-detail>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
